body, *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }
  
  .navbarmodul3 ul{
      list-style: none;
      background: rgb(69, 155, 165);
      padding: 0;
      margin: 0;
      text-align: left;
  }
  
  .navbarmodul3 li{
      display: inline-block;
  }
  
  .navbarmodul3 a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.961);
      width: 100px;
      display: block;
      padding:25px 20px;
      text-align: center;
  }
  
  .navbarmodul3 a:hover{
      color:rgb(255, 255, 83);
  }
  
  /* done */